@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald");
/* normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

figcaption, figure, main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff464a;
  color: #ffffff; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/* reset added */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
  outline: 0; }

.container:after, .clearfix:after, .row:after, ul:after {
  content: '';
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  background: transparent;
  color: #333;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

::-moz-placeholder {
  color: #bbb; }

:-ms-input-placeholder {
  color: #bbb; }

*::selection {
  background: #16b9ff;
  color: #fff; }

*::-moz-selection {
  background: #16b9ff;
  color: #fff; }

body {
  font-family: 'Malgun Gothic', 'dotum', 'gulim' , 'sans-serif';
  word-break: break-all;
  font-weight: 300;
  line-height: 1; }

/* layout */
body, html {
  height: 100%; }

.container {
  max-width: 1230px;
  margin: 0 auto; }
  @media only screen and (max-width: 992px) {
    .container {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 0; } }

/* typography */
h1, h2 {
  line-height: 1.2; }

h3, h4, h5, h6 {
  line-height: 1.3; }

p {
  color: #757575;
  font-size: 15px;
  line-height: 1.4; }

/* short cut*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.pof {
  position: fixed; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

/* interval */
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pr0 {
  padding-right: 0 !important; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pl0 {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mr0 {
  margin-right: 0 !important; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.ml0 {
  margin-left: 0 !important; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype"); }
.nanumBarunGothic {
  font-family: 'NanumBarunGothic', sans-serif; }

.notoSans {
  font-family: "Noto Sans KR", sans-serif; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.oswald {
  font-family: 'Oswald', sans-serif; }

.opensans {
  font-family: 'Open Sans Condensed', sans-serif; }

/* Slick Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-slide:focus {
  outline: 0; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

.dots-square .slick-dots {
  position: absolute;
  bottom: 60px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0; }
  @media only screen and (max-width: 767px) {
    .dots-square .slick-dots {
      bottom: 0; }
      .acer-visual .dots-square .slick-dots {
        display: none !important; } }
  .notice-event .dots-square .slick-dots {
    bottom: 0; }
  .dots-square .slick-dots li {
    display: inline-block;
    margin: 0 2px; }
    .dots-square .slick-dots li button {
      display: block;
      width: 20px;
      height: 4px;
      padding: 0;
      background: #fff;
      text-indent: -99999em;
      cursor: pointer;
      border: 0;
      font-size: 0; }
      .products-review .dots-square .slick-dots li button {
        width: 15px;
        height: 2px; }
      .notice-event .dots-square .slick-dots li button {
        background: #e4e4e4; }
      .dots-square .slick-dots li button:focus {
        outline: 0; }
    .acer-visual .dots-square .slick-dots li.slick-active button, .products-review .dots-square .slick-dots li.slick-active button {
      background: #ff7f00; }
    .notice-event .dots-square .slick-dots li.slick-active button {
      background: #222; }

.slick-arrow-angle .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 50px;
  height: 70px;
  border: 0;
  background: transparent; }
  .acer-visual .slick-arrow-angle .slick-arrow {
    left: 50%;
    margin-top: -35px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-arrow {
        left: auto; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-arrow {
        -webkit-background-size: 18px;
        background-size: 18px; } }
  .notice-event .slick-arrow-angle .slick-arrow {
    top: 130px;
    width: 45px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 992px) {
      .notice-event .slick-arrow-angle .slick-arrow {
        top: 95px; } }
    @media only screen and (max-width: 767px) {
      .notice-event .slick-arrow-angle .slick-arrow {
        display: none !important; } }
  .slick-arrow-angle .slick-arrow:focus {
    outline: 0; }
.slick-arrow-angle .slick-prev {
  background: url(../img/angle-left.png) 50% no-repeat; }
  .acer-visual .slick-arrow-angle .slick-prev {
    margin-left: -600px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-prev {
        margin-left: 0;
        left: 50px; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-prev {
        left: 0; } }
  .notice-event .slick-arrow-angle .slick-prev {
    background-image: url(../img/angle-sm-left.png);
    left: 20px; }
.slick-arrow-angle .slick-next {
  background: url(../img/angle-right.png) 50% no-repeat; }
  .acer-visual .slick-arrow-angle .slick-next {
    margin-left: 550px; }
    @media only screen and (max-width: 1260px) {
      .acer-visual .slick-arrow-angle .slick-next {
        margin-left: 0;
        right: 50px; } }
    @media only screen and (max-width: 767px) {
      .acer-visual .slick-arrow-angle .slick-next {
        right: 0; } }
  .notice-event .slick-arrow-angle .slick-next {
    background-image: url(../img/angle-sm-right.png);
    right: 20px; }

/* design selectbox */
.designSelectW {
  display: inline-block; }

.select-content {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%; }

.select-title {
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
  position: relative; }

.select-title:before {
  content: '';
  background: url(/kooramework/assets/img/sub/arrow-down-sm.png) 0 0 no-repeat;
  position: absolute;
  top: 15px;
  right: 12px;
  width: 8px;
  height: 4px; }

.select-content a {
  padding: 0 8px;
  line-height: 36px;
  display: block;
  font-size: 15px; }

.select-content a:hover,
.select-content a:focus {
  text-decoration: none;
  cursor: pointer; }

.select-content .select-title a {
  display: block;
  color: #333; }

.select-content .select-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid #1855e8;
  background: #fff; }

.select-content .select-list a {
  color: #333; }

.select-content .select-list a:hover {
  background: #f8f8f8; }

@media screen and (max-width: 768px) {
  .select-content a {
    font-size: 12px;
    line-height: 32px; }

  .select-title:before {
    top: 10px;
    right: 10px; } }
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn:hover {
  text-decoration: none; }

.btn-material {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

/* Header */
header.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%; }
  header.header .main-header .gnb {
    float: right;
    padding: 50px 0; }
    @media only screen and (max-width: 992px) {
      header.header .main-header .gnb {
        display: none; } }
    @media only screen and (max-width: 767px) {
      header.header .main-header .gnb {
        display: none; } }
    header.header .main-header .gnb ul {
      text-align: center; }
      header.header .main-header .gnb ul li {
        display: inline-block;
        width: 140px;
        height: 42px;
        line-height: 43px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: rgba(77, 82, 123, 0.2);
        margin-left: 10px;
        border: 1px solid rgba(255, 255, 255, 0.66); }
        header.header .main-header .gnb ul li a {
          color: #ffffff;
          font-family: "open sans";
          font-weight: 400;
          display: block; }
        .is-scroll header.header .main-header .gnb ul li {
          background-color: transparent;
          border: none; }
          .is-scroll header.header .main-header .gnb ul li a {
            color: #000; }
      header.header .main-header .gnb ul li:hover {
        background-color: rgba(255, 255, 255, 0.7); }
        .is-scroll header.header .main-header .gnb ul li:hover {
          background-color: rgba(113, 120, 180, 0.61); }
  header.header .main-header .btn {
    display: none;
    float: right; }
    @media only screen and (max-width: 992px) {
      header.header .main-header .btn {
        display: inline-block; } }
    @media only screen and (max-width: 767px) {
      header.header .main-header .btn {
        display: inline-block; } }
    header.header .main-header .btn .material-icons {
      margin-top: 50px;
      font-size: 50px;
      color: #4d527b; }
      @media only screen and (max-width: 992px) {
        header.header .main-header .btn .material-icons {
          margin: 20px 20px 0 0;
          font-size: 40px; } }
      @media only screen and (max-width: 767px) {
        header.header .main-header .btn .material-icons {
          font-size: 30px;
          margin: 10px 20px 0 0; } }
    header.header .main-header .btn :hover {
      color: #b5b5b5;
      transform: rotate(180deg);
      transition: 1s; }
  header.header .main-header .side-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 900px;
    background-color: #8489c4;
    text-align: right;
    padding: 20px;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1); }
    @media only screen and (max-width: 767px) {
      header.header .main-header .side-menu {
        height: 100%;
        padding: 0; } }
    @media only screen and (max-width: 992px) {
      header.header .main-header .side-menu {
        height: 100%;
        padding: 0; } }
    header.header .main-header .side-menu.is-active {
      left: 0; }
    header.header .main-header .side-menu .close {
      display: inline-block; }
      header.header .main-header .side-menu .close i {
        margin-top: 40px;
        font-size: 50px;
        color: #ffffff; }
        @media only screen and (max-width: 992px) {
          header.header .main-header .side-menu .close i {
            margin: 20px 20px 0 0;
            font-size: 40px; } }
        @media only screen and (max-width: 767px) {
          header.header .main-header .side-menu .close i {
            font-size: 30px;
            margin: 10px 20px 0 0; } }
      header.header .main-header .side-menu .close :hover {
        color: #666666;
        transform: rotate(180deg);
        transition: 1s; }
    header.header .main-header .side-menu .side-gnb {
      padding: 30px 0; }
      @media only screen and (max-width: 767px) {
        header.header .main-header .side-menu .side-gnb {
          padding: 50px 0 0;
          margin: 0; } }
      header.header .main-header .side-menu .side-gnb ul li {
        display: block;
        list-style: none;
        width: 450px;
        height: 90px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #4d527b;
        padding: 35px;
        text-align: center;
        margin: 0 auto 30px; }
        @media only screen and (max-width: 767px) {
          header.header .main-header .side-menu .side-gnb ul li {
            width: 80%;
            height: 60px;
            padding: 20px; } }
        header.header .main-header .side-menu .side-gnb ul li a {
          font-family: "open sans";
          font-size: 30px;
          color: #ffffff;
          font-weight: 500;
          display: block; }
          @media only screen and (max-width: 767px) {
            header.header .main-header .side-menu .side-gnb ul li a {
              font-size: 20px; } }
        header.header .main-header .side-menu .side-gnb ul li:hover {
          border: 2px solid rgba(255, 255, 255, 0.61);
          background-color: rgba(102, 102, 102, 0.51);
          opacity: 0.6;
          transition: 0.8s; }
          header.header .main-header .side-menu .side-gnb ul li:hover a {
            color: rgba(255, 255, 255, 0.36); }
      header.header .main-header .side-menu .side-gnb .nav-item-2 {
        padding: 50px 0;
        text-align: center; }
        @media only screen and (max-width: 767px) {
          header.header .main-header .side-menu .side-gnb .nav-item-2 {
            padding: 20px 0; } }
        @media only screen and (max-width: 992px) {
          header.header .main-header .side-menu .side-gnb .nav-item-2 {
            padding: 20px 0; } }
        header.header .main-header .side-menu .side-gnb .nav-item-2 .detail {
          display: inline-block;
          padding-bottom: 10px; }
          header.header .main-header .side-menu .side-gnb .nav-item-2 .detail p {
            display: inline-block;
            color: #ffffff;
            font-size: 16px;
            font-family: owsald;
            margin: 0 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.32); }
            @media only screen and (max-width: 767px) {
              header.header .main-header .side-menu .side-gnb .nav-item-2 .detail p {
                border: none;
                display: block;
                margin: 10px 0; } }
            header.header .main-header .side-menu .side-gnb .nav-item-2 .detail p .material-icons {
              font-size: 14px;
              margin: 0 10px;
              vertical-align: middle; }
        header.header .main-header .side-menu .side-gnb .nav-item-2 .social {
          text-align: center; }
          header.header .main-header .side-menu .side-gnb .nav-item-2 .social img {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 8px;
            opacity: 0.3;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
            header.header .main-header .side-menu .side-gnb .nav-item-2 .social img:hover {
              opacity: 1; }

/**
 Main page style
*/
#section {
  height: 100vh; }
  #section:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.title-area {
  text-align: left; }
  .title-area h3 {
    font-family: "owsald";
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8em; }
    @media only screen and (max-width: 992px) {
      .title-area h3 {
        letter-spacing: 0.5em;
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .title-area h3 {
        letter-spacing: 0.5em;
        text-align: center; } }

.visual {
  height: 100vh;
  background: url("http://bcy0729.dothome.co.kr/port_/web/assets/img/vi-bg.png") 100% 0/cover no-repeat;
  background-size: 900px;
  text-align: left; }
  @media only screen and (max-width: 992px) {
    .visual {
      background-size: 80%; } }
  @media only screen and (max-width: 767px) {
    .visual {
      background-size: 100%; } }
  .visual .main-banner {
    padding-top: 200px; }
    .visual .main-banner .text {
      padding-top: 100px;
      font-size: 80px;
      font-family: "open sans";
      font-weight: 300;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      @media only screen and (max-width: 992px) {
        .visual .main-banner .text {
          text-align: left; } }
      @media only screen and (max-width: 767px) {
        .visual .main-banner .text {
          text-align: center;
          font-size: 30px;
          padding: 150px 0 30px 0; } }
      .visual .main-banner .text p {
        font-family: "open sans";
        font-size: 20px;
        font-weight: 500;
        color: #909090;
        margin: 40px 0 0 0; }
        @media only screen and (max-width: 767px) {
          .visual .main-banner .text p {
            font-size: 14px;
            line-height: 30px; } }

.about {
  background-color: #f9f9f9; }
  .about img {
    float: left;
    padding: 280px 50px;
    width: 40%; }

.work {
  padding: 50px 0; }
  @media only screen and (max-width: 767px) {
    .work {
      padding: 80px 0; } }
  @media only screen and (max-width: 992px) {
    .work {
      padding: 80px 0; } }
  .work .item {
    margin: 60px auto;
    list-style: none; }
    .work .item .thumb {
      float: left;
      width: 33.33%;
      text-align: center;
      padding: 20px; }
      @media only screen and (max-width: 767px) {
        .work .item .thumb {
          float: none;
          width: 100%;
          margin: 0 auto 30px; } }
      @media only screen and (max-width: 992px) {
        .work .item .thumb {
          margin: 0 auto 30px; } }
      .work .item .thumb .images {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #333333;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden; }
        @media only screen and (max-width: 767px) {
          .work .item .thumb .images {
            height: 300px; } }
        @media only screen and (max-width: 992px) {
          .work .item .thumb .images {
            height: 300px; } }
        .work .item .thumb .images .screen {
          display: none; }
        .work .item .thumb .images .cms {
          padding: 160px 0;
          font-size: 20px;
          color: #ffffff; }
          @media only screen and (max-width: 767px) {
            .work .item .thumb .images .cms {
              padding: 120px 0; } }
          @media only screen and (max-width: 992px) {
            .work .item .thumb .images .cms {
              padding: 120px 0; } }
      .work .item .thumb:hover .cms {
        display: none; }
      .work .item .thumb:hover .screen {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.69); }
        .work .item .thumb:hover .screen .desc {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
          .work .item .thumb:hover .screen .desc p {
            padding: 150px 0 50px 0;
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 30px; }
            @media only screen and (max-width: 767px) {
              .work .item .thumb:hover .screen .desc p {
                padding: 100px 0 50px 0; } }
            @media only screen and (max-width: 992px) {
              .work .item .thumb:hover .screen .desc p {
                padding: 100px 0 50px 0; } }
          .work .item .thumb:hover .screen .desc .icon i {
            font-size: 30px;
            color: #ffffff;
            padding: 0 20px; }
            .work .item .thumb:hover .screen .desc .icon i:hover {
              color: #666666; }
  .work li:nth-child(2n) {
    margin-top: 100px; }

.contact {
  background-color: #f1ece6;
  text-align: center;
  padding: 50px 0; }
  .contact .title-area .line-top {
    background-color: #333333; }
  .contact .title-area h3 {
    color: #000; }
    @media only screen and (max-width: 767px) {
      .contact .title-area h3 {
        margin: 0 auto;
        max-width: 250px; } }
  .contact .text {
    text-align: right;
    display: block;
    margin-top: 100px; }
    .contact .text input {
      width: 70%;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      color: #333333;
      border: 1px solid #dddddd; }
      .contact .text input:focus {
        border: 1px solid #000000; }
      @media only screen and (max-width: 767px) {
        .contact .text input {
          text-align: center;
          height: 40px;
          margin-bottom: 10px; } }
    .contact .text textarea {
      width: 70%;
      height: 300px;
      padding: 10px;
      margin-bottom: 20px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      color: #333333;
      border: 1px solid #dddddd; }
      .contact .text textarea:focus {
        border: 1px solid #000; }
      @media only screen and (max-width: 767px) {
        .contact .text textarea {
          text-align: center;
          height: 200px;
          margin-bottom: 10px; } }
      @media only screen and (max-width: 992px) {
        .contact .text textarea {
          text-align: center;
          height: 250px; } }
    .contact .text button {
      width: 30%;
      height: 80px;
      background: -webkit-linear-gradient(-45deg, #8489c4 0%, #b33aa5 100%);
      padding: 0 50px;
      color: #fff;
      font-size: 20px;
      margin-top: 15px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
      @media only screen and (max-width: 767px) {
        .contact .text button {
          width: 80%;
          height: 60px; } }
      .contact .text button:hover {
        background: -webkit-linear-gradient(-45deg, #000, #000);
        color: #fff; }

.footer {
  padding: 30px 30px 30px 30px;
  background-color: #c1c1c1;
  height: 100px;
  border-top: 1px solid #adadad; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 0; } }
  @media only screen and (max-width: 992px) {
    .footer {
      padding: 0; } }
  .footer .detail {
    float: left;
    margin-top: 20px; }
    @media only screen and (max-width: 767px) {
      .footer .detail {
        float: none;
        padding: 30px 0;
        display: inline-block; } }
    @media only screen and (max-width: 992px) {
      .footer .detail {
        float: none;
        padding: 30px 0;
        display: inline-block; } }
    .footer .detail p {
      float: left;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-family: owsald;
      font-weight: 400;
      margin: 0 20px; }
      @media only screen and (max-width: 767px) {
        .footer .detail p {
          float: none;
          width: 100%;
          margin: 0 auto 10px;
          padding: 0; } }
      .footer .detail p .material-icons {
        font-size: 14px;
        margin: 0 10px;
        vertical-align: middle; }
  .footer .social {
    float: right; }
    @media only screen and (max-width: 767px) {
      .footer .social {
        float: none;
        width: 100%;
        padding: 30px 0 0; } }
    @media only screen and (max-width: 992px) {
      .footer .social {
        float: none;
        width: 100%;
        padding: 30px 0 0; } }
    .footer .social img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 8px;
      opacity: 0.8;
      -webkit-borde1r-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .footer .social img:hover {
        opacity: 0.5; }

/* footer */
.form-control {
  display: inline-block;
  width: 100%;
  padding: 8px;
  line-height: 1.4;
  border: 1px solid transparent;
  background: transparent;
  color: #333;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
