/**
 Main page style
*/

//section title common

#section {
  height: 100vh;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}


.visual {
  height: 100vh;
  background: url("http://bcy0729.dothome.co.kr/port_/web/assets/img/vi-bg.png") 100% 0/ cover no-repeat;
  background-size: 900px;
  text-align: left;
  @include screen-md {
    background-size: 80%;
  }
  @include screen-sm {
    background-size: 100%;
  }

  .text {
    padding-top: 230px;
    p{
      font-size: 80px;
      font-family: "open sans";
      font-weight: 300;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    @include screen-md {
      text-align: left;
    }
    @include screen-sm {
      text-align: center;
      font-size: 30px;
      padding: 150px 0 30px 0;
    }
  }
}

.about {
  background-color: #f9f9f9;
  padding: 160px 50px 0 50px;
  position: relative;
  height: 100vh;
  text-align: center;
  .title-area {
    h3 {
      text-align: left;
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 80px;
    }
  }
  .text {
    text-align: left;
    .name {
      float: left;
      width: 40%;
      margin-bottom: 30px;
      }
    }
    p {
      color: #888;
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.8;
      font-weight: 400;
      span {
        font-weight: 800;
        color: #000;
      }
      i {
        width: 28px;
        height: 28px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 14px;
        padding: 6px;
        background: #7f87cb;
        vertical-align: middle;
        color: #fff;
        + i {
          margin-left: 30px;
        }
      }
    }
    .skill {
      float: right;
      width: 60%;
      text-align: left;
      li {
        text-align: center;
        display: inline-block;
        padding-left: 90px;
        vertical-align: top;
        img {
          height: 30px;
          margin-bottom: 20px;
        }
        p {
          color: #000;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.2;
        }
      }
    }
  }
  .about-banner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(-45deg, #8489c4 0%, #b33aa5 100%);
    p {
      color: #fff;
      padding: 80px 0 30px;
    }
    .btn-view {
      display: inline-block;
      margin: 0 auto 60px;
      width: 160px;
      padding: 14px 20px;
      border: 1px solid #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      a {
        color: #fff;
        font-weight: 400;
        display: block;
      }
    }
  }


.work {
  padding: 100px 0;
  background: #dedede;
  @include screen-sm {
    padding: 80px 0;
  }
  @include screen-md {
    padding: 80px 0;
  }
  .item {
    margin: 60px auto;
    list-style: none;
    .thumb {
      display: inline-block;
      text-align: center;
      padding: 20px;
      width: 33%;
      @include screen-sm {
        width: 100%;
        margin: 0 auto 30px;
      }
      @include screen-md {
        margin: 0 auto 30px;
      }
      .images {
        position: relative;
        width: 100%;
        height: 360px;
        background-color: #333333;
        text-align: center;
        overflow: hidden;
        border: 1px solid #ddd;
        .desc {
          position: absolute;
          top: 70%;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          border-top: 1px solid #ddd;
          padding: 20px;
          p {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            span {
              font-weight: 700;
              color: #333;
            }
          }

        }
        @include screen-sm {
          height: 300px;
        }
        @include screen-md {
          height: 300px;
        }
        .screen {
          display: none;
        }
        &:hover {
          .screen {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.69);
            i {
              padding-top: 105px;
              color: #fff;
              font-size: 50px;
            }
          }
        }
      }
    }
  }
}

.contact {
  text-align: center;
  padding: 150px 0;
  background: #fbfbfb;
  p {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 36px;
  }
  .text {
    text-align: center;
    display: block;
    input {
      width: 70%;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
      color: #000;
      background: transparent;
      border: none;
      border-bottom: 1px solid #333333;
      &:focus {
        border: 1px solid #333;
      }
      @include screen-sm {
        text-align: center;
        height: 40px;
        margin-bottom: 10px;
      }
    }
    textarea {
      width: 70%;
      height: 260px;
      padding: 10px;
      margin-bottom: 20px;
      color: #000;
      background: transparent;
      border: none;
      border-bottom: 1px solid #333333;
      &:focus {
        border: 1px solid #000;
      }
      @include screen-sm {
        text-align: center;
        height: 200px;
        margin-bottom: 10px;
      }
      @include screen-md {
        text-align: center;
        height: 250px;
      }
    }
    button {
      width: 30%;
      height: 80px;
      background: -webkit-linear-gradient(-45deg, #8489c4 0%, #b33aa5 100%);
      padding: 0 50px;
      color: #fff;
      font-size: 18px;
      margin-top: 15px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      @include screen-sm {
        width: 80%;
        height: 60px;
      }
      &:hover {
        background: -webkit-linear-gradient(-45deg, #000, #000);
        color: #fff;
      }
    }
  }
}

.footer {
  padding: 80px 30px;
  background-color: #666666;
  height: 180px;
  border-top: 1px solid #adadad;
  @include screen-sm {
    padding: 0;
  }
  @include screen-md {
    padding: 0;
  }
  .detail {
    float: left;
    margin-top: 20px;
    @include screen-sm {
      float: none;
      padding: 30px 0;
      display: inline-block;
    }
    @include screen-md {
      float: none;
      padding: 30px 0;
      display: inline-block;
    }
    p {
      float: left;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-family: owsald;
      font-weight: 400;
      margin: 0 20px;
      @include screen-sm {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
        padding: 0;
      }
      .material-icons {
        font-size: 14px;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }
  .social {
    float: right;
    @include screen-sm {
      float: none;
      width: 100%;
      padding: 30px 0 0;
    }
    @include screen-md {
      float: none;
      width: 100%;
      padding: 30px 0 0;
    }
    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 8px;
      opacity: 0.8;
      -webkit-borde1r-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}